@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --classicar-primary-bg-color: #F4D761;
    --classicar-primary-light-color: #FFFFFF;
    --classicar-secondary-light-color: #CCCCCC;
    --classicar-dark-color: #000000;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-rammetto{
  font-family: 'Rammetto One';
}

.font-noto{
  font-family: 'Noto Sans';
}
